<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.meiguotong.mapper.comnavigation.ComNavigationMapper">
    
	<sql id="comNavigationColumns">
		a.id AS "id",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.create_date AS "createDate",
		a.create_by AS "createBy.id",
		a.del_flag AS "delFlag",
		a.del_date AS "delDate",
		a.del_by AS "delBy",
		a.type AS "type",
		a.typeid AS "typeid",
		a.status AS "status",
		a.sort AS "sort",
		a.name AS "name",
		a.link AS "link",
		a.link_explain AS "linkExplain",
		a.language_id AS "languageId"
	</sql>
	
	<sql id="comNavigationJoins">
		
	</sql>
	
    <!-- 根据语言获取热门目的地 -->
    <select id="getHotCity" resultType="ComNavigation" >
		SELECT 
			a.typeid AS "cityid",
			cc.city_name AS "cityName",
			a.link AS "link",
			cc.photo_url as "photoUrl"
		FROM com_navigation a
		left join com_city cc on cc.id=a.typeid
		where
			a.del_flag = 0 and a.type=2 AND a.language_id = #{languageId}
			and a.status=1 and cc.status=1 and cc.del_flag = 0
		ORDER BY a.sort
	</select>
	<select id="get" resultType="ComNavigation" >
		SELECT 
			<include refid="comNavigationColumns"/>,
			cc.city_name as "cityName"
		FROM com_navigation a
		left join com_city cc on cc.id=a.typeid
		<include refid="comNavigationJoins"/>
		WHERE a.id = #{id}
	</select>
	<!-- 主导航列表数据 -->
	<select id="findList" resultType="ComNavigation" >
		SELECT 
			<include refid="comNavigationColumns"/>
		FROM com_navigation a
		<include refid="comNavigationJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL} and a.type=1
			${dataScope}
			<if test="name != null and name != ''">
				AND a.name LIKE 
					<if test="dbName == 'oracle'">'%'||#{name}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{name}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{name},'%')</if>
			</if>
			<if test="languageId != null and languageId != ''">
				AND a.language_id LIKE 
					<if test="dbName == 'oracle'">'%'||#{languageId}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{languageId}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{languageId},'%')</if>
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY  a.sort
			</otherwise>
		</choose>
	</select>
	<!-- 热门城市列表数据 -->
		<select id="findHotCityList" resultType="ComNavigation" >
		SELECT 
			a.id AS "id",
			a.typeid AS "typeid",
			a.status AS "status",
			a.sort AS "sort",
			cc.city_name AS "name",
			a.link AS "link",
			a.link_explain AS "linkExplain",
			a.language_id AS "languageId"
		FROM com_navigation a
		left join com_city cc on cc.id=a.typeid
		<include refid="comNavigationJoins"/>
		<where>
			a.del_flag = 0 and a.type=2
			${dataScope}
			<if test="name != null and name != ''">
				AND a.name LIKE concat('%',#{name},'%')
			</if>
			<if test="languageId != null and languageId != ''">
				AND a.language_id = #{languageId}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.sort
			</otherwise>
		</choose>
	</select>
	
	<!-- 主导航列表接口 -->
	<select id="findNavigationList" resultType="ComNavigation" >
		SELECT 
		a.id AS "id",
		a.create_date AS "createDate",
		a.sort AS "sort",
		a.name AS "name",
		a.link AS "link",
		a.link_explain AS "linkExplain",
		a.language_id AS "languageId"
		FROM com_navigation a
		where 
		a.type=#{type} and a.del_flag=0
	</select>
	<select id="findAllList" resultType="ComNavigation" >
		SELECT 
			<include refid="comNavigationColumns"/>
		FROM com_navigation a
		<include refid="comNavigationJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	<select id="findNumber" resultType="ComNavigation">
	select 
		a.id AS "id",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.create_date AS "createDate",
		a.create_by AS "createBy.id",
		a.del_flag AS "delFlag",
		a.del_date AS "delDate",
		a.del_by AS "delBy",
		a.type AS "type",
		a.sort AS "sort",
		a.name AS "name",
		a.link AS "link",
		a.link_explain AS "linkExplain",
		a.language_id AS "languageId",
		b.number AS "language"
		from com_navigation a
		left join com_language b
		on a.language_id=b.id
		where 
		a.del_flag=0 and b.status=1 and  a.id=#{id}
	</select>
	<insert id="insert">
		INSERT INTO com_navigation(
			update_by,
			update_date,
			create_date,
			create_by,
			del_flag,
			del_date,
			del_by,
			type,
			sort,
			name,
			link,
			link_explain,
			language_id,
			typeid,
			status
		) VALUES (
			#{updateBy.id},
			#{updateDate},
			#{createDate},
			#{createBy.id},
			#{delFlag},
			#{delDate},
			#{delBy},
			#{type},
			#{sort},
			#{name},
			#{link},
			#{linkExplain},
			#{languageId},
			#{typeid},
			1
		)
	</insert>
	
	<update id="update">
		UPDATE com_navigation SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			del_date = #{delDate},
			del_by = #{delBy},
			type = #{type},
			sort = #{sort},
			name = #{name},
			link = #{link},
			link_explain = #{linkExplain},
			language_id = #{languageId},
			typeid = #{typeid},
			status = #{status}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM com_navigation
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE com_navigation SET 
			del_flag = 1,
			del_date=#{delDate},
			del_by=#{delBy.id}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="ComNavigation" statementType="STATEMENT">
		select * FROM com_navigation  where ${propertyName} = '${value}'
	</select>

	<!--获取首页导航栏-->
	<select id="getComNavigation"
			resultType="com.jeeplus.modules.meiguotong.entity.comnavigation.ComNavigation">
		SELECT
		<include refid="comNavigationColumns"/>
		FROM com_navigation a
		WHERE a.language_id = #{languageId} AND a.type = 1 AND a.del_flag = 0 AND a.status = 1
		order by a.sort
	</select>

</mapper>