<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.meiguotong.mapper.hotelroomdevice.HotelRoomDeviceMapper">
    
	<sql id="hotelRoomDeviceColumns">
		a.id AS "id",
		a.name AS "name",
		a.icon AS "icon",
		a.status AS "status",
		a.language_id AS "languageId",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.create_date AS "createDate",
		a.create_by AS "createBy.id",
		a.del_flag AS "delFlag",
		a.del_date AS "delDate",
		a.del_by AS "delBy"
	</sql>
	
	<sql id="hotelRoomDeviceJoins">
		
	</sql>
	
    
	<select id="get" resultType="HotelRoomDevice" >
		SELECT 
			<include refid="hotelRoomDeviceColumns"/>
		FROM hotel_room_device a
		<include refid="hotelRoomDeviceJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="HotelRoomDevice" >
		SELECT 
			<include refid="hotelRoomDeviceColumns"/>
			<if test="ids != null and ids != '' ">
				,IF(FIND_IN_SET(a.id,#{ids})>0,1,0) AS "idFlag"
			</if>
		FROM hotel_room_device a
		<include refid="hotelRoomDeviceJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="name != null and name != ''">
				AND a.name LIKE 
					<if test="dbName == 'oracle'">'%'||#{name}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{name}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{name},'%')</if>
			</if>
			<if test="languageId != null">
				AND a.language_id = #{languageId}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="HotelRoomDevice" >
		SELECT 
			<include refid="hotelRoomDeviceColumns"/>
		FROM hotel_room_device a
		<include refid="hotelRoomDeviceJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO hotel_room_device(
			name,
			icon,
			status,
			language_id,
			update_by,
			update_date,
			create_date,
			create_by,
			del_flag,
			del_date,
			del_by
		) VALUES (
			#{name},
			#{icon},
			1,
			#{languageId},
			#{updateBy.id},
			#{updateDate},
			#{createDate},
			#{createBy.id},
			#{delFlag},
			#{delDate},
			#{delBy}
		)
	</insert>
	
	<update id="update">
		UPDATE hotel_room_device SET 	
			name = #{name},
			icon = #{icon},
			status = #{status},
			language_id = #{languageId},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			del_date = #{delDate},
			del_by = #{delBy}
		WHERE id = #{id}
	</update>
	<!-- 修改状态 -->
	<update id="status">
		UPDATE hotel_room_device SET
			status = #{status},
			update_by = #{updateBy.id},
			update_date = #{updateDate}
		WHERE id = #{id}
	</update>	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM hotel_room_device
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE hotel_room_device SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="HotelRoomDevice" statementType="STATEMENT">
		select * FROM hotel_room_device  where ${propertyName} = '${value}'
	</select>
	
</mapper>