<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.meiguotong.mapper.guideroute.GuideRouteTimeMapper">
    
	<sql id="guideRouteTimeColumns">
		a.id AS "id",
		a.routeid AS "routeid",
		a.date_type AS "dateType",
		a.begin_date AS "beginDate",
		a.end_date AS "endDate",
		a.week_date AS "weekDate",
		a.day_date AS "dayDate",
		a.price AS "price"
	</sql>
	
	<sql id="guideRouteTimeJoins">
		
	</sql>
	
    
	<select id="get" resultType="GuideRouteTime" >
		SELECT 
			<include refid="guideRouteTimeColumns"/>
		FROM guide_route_time a
		<include refid="guideRouteTimeJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="GuideRouteTime" >
		SELECT 
			<include refid="guideRouteTimeColumns"/>
		FROM guide_route_time a
		<include refid="guideRouteTimeJoins"/>
		<where>
			
			${dataScope}
			<if test="dateType != null and dateType != ''">
				AND a.date_type = #{dateType}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="GuideRouteTime" >
		SELECT 
			<include refid="guideRouteTimeColumns"/>
		FROM guide_route_time a
		<include refid="guideRouteTimeJoins"/>
		<where>
			
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO guide_route_time(
			routeid,
			date_type,
			begin_date,
			end_date,
			week_date,
			day_date,
			price
		) VALUES (
			#{routeid},
			#{dateType},
			#{beginDate},
			#{endDate},
			#{weekDate},
			#{dayDate},
			#{price}
		)
	</insert>
	<insert id="insertRoute">
		INSERT INTO guide_route_time(
			routeid,
			date_type,
			begin_date,
			end_date,
			week_date,
			day_date,
			price
		) VALUES (
			#{id},
			#{dateType},
			#{beginDate},
			#{endDate},
			#{weekDate},
			#{dayDate},
			#{price}
		)
	</insert>
	<update id="update">
		UPDATE guide_route_time SET 	
			routeid = #{routeid},
			date_type = #{dateType},
			begin_date = #{beginDate},
			end_date = #{endDate},
			week_date = #{weekDate},
			day_date = #{dayDate},
			price = #{price}
		WHERE id = #{id}
	</update>
	
	<update id="updateRoute">
		UPDATE guide_route_time SET 
			date_type = #{dateType},
			begin_date = #{beginDate},
			end_date = #{endDate},
			week_date = #{weekDate},
			day_date = #{dayDate},
			price = #{price}
		WHERE routeid = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM guide_route_time
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE guide_route_time SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="GuideRouteTime" statementType="STATEMENT">
		select * FROM guide_route_time  where ${propertyName} = '${value}'
	</select>
	
</mapper>