*{padding:0;margin:0;}
a{text-decoration:none;clear:inherit;}
li{list-style:none;}
.box{width:600px;margin:20px auto;}
.box_l,.box_r{width:240px;height:360px;border:1px solid #ccc;overflow:auto;}
.box_l{float:left;}
.box_m{float:left;width:116px;text-align:center;}
.box_m a{padding:5px 10px;border:1px solid #ccc;display:block;width:70px;margin:10px auto;border-radius:5px;}
.box_r{float:right;}
.box_l li,.box_r li{line-height:35px;font-size:14px;padding-left:15px;border-bottom:1px solid #CCCCCC;cursor:pointer}
.box_l li:last-child,.box_r li:last-child{border:none}
.box_l li.choose,.box_r li.choose{background:#ddd;}
