<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.sys.mapper.buycar.BuyCarMapper">
    
	<sql id="buyCarColumns">
		a.id AS "id",
		a.memberid AS "memberid",
		a.productid AS "productid",
		a.num AS "num",
		a.create_date AS "createDate"
	</sql>
	
	<sql id="buyCarJoins">
		
	</sql>
	
    
	<select id="get" resultType="BuyCar" >
		SELECT 
			<include refid="buyCarColumns"/>
		FROM buy_car a
		<include refid="buyCarJoins"/>
		WHERE a.id = #{id}
	</select>
	<select id="getCount" resultType="Integer" >
		SELECT 
			count(a.id)
		FROM buy_car a
		WHERE a.memberId = #{0} and a.productId = #{1}
	</select>
	
	<select id="findList" resultType="BuyCar" >
		SELECT 
			<include refid="buyCarColumns"/>
		FROM buy_car a
		<include refid="buyCarJoins"/>
		<where>
			
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="BuyCar" >
		SELECT 
			<include refid="buyCarColumns"/>
		FROM buy_car a
		<include refid="buyCarJoins"/>
		<where>
			
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO buy_car(
			memberid,
			productid,
			num,
			create_date
		) VALUES (
			#{memberid},
			#{productid},
			#{num},
			#{createDate}
		)
	</insert>
	
	<update id="update">
		UPDATE buy_car SET 	
			memberid = #{memberid},
			productid = #{productid},
			num = #{num}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM buy_car
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE buy_car SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BuyCar" statementType="STATEMENT">
		select * FROM buy_car  where ${propertyName} = '${value}'
	</select>
	
	
	<update id="updateCar">
		UPDATE buy_car SET 	
			num = #{num}
		WHERE memberid = #{memberid} and productid = #{productid}
	</update>
	<update id="addCar">
		UPDATE buy_car SET 	
			num =num+#{num}
		WHERE memberid = #{memberid} and productid = #{productid}
	</update>
	<!--物理删除-->
	<update id="delCar">
		DELETE FROM buy_car
		WHERE memberid = #{memberid} and productid = #{productid}
	</update>
</mapper>