<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.sys.mapper.order.OrderDateMapper">
    
	<sql id="orderDateColumns">
		a.id AS "id",
		a.status AS "status",
		a.typeid AS "typeid",
		a.memberid AS "memberid",
		a.orderid AS "orderid",
		a.name AS "name",
		a.create_date AS "createDate",
		a.type AS "type",
		a.admin_by AS "adminBy"
	</sql>
	
	<sql id="orderDateJoins">
		
	</sql>
	
    
	<select id="get" resultType="OrderDate" >
		SELECT 
			<include refid="orderDateColumns"/>
		FROM order_date a
		<include refid="orderDateJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="OrderDate" >
		SELECT 
			<include refid="orderDateColumns"/>
		FROM order_date a
		<include refid="orderDateJoins"/>
		<where>
			
			${dataScope}
			<if test="name != null and name != ''">
				AND a.name LIKE 
					<if test="dbName == 'oracle'">'%'||#{name}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{name}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{name},'%')</if>
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="OrderDate" >
		SELECT 
			<include refid="orderDateColumns"/>
		FROM order_date a
		<include refid="orderDateJoins"/>
		<where>
			
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO order_date(
			status,
			typeid,
			memberid,
			orderid,
			name,
			create_date,
			type,
			admin_by
		) VALUES (
			#{status},
			#{typeid},
			#{memberid},
			#{orderid},
			#{name},
			#{createDate},
			#{type},
			#{adminBy}
		)
	</insert>
	
	<update id="update">
		UPDATE order_date SET 	
			status = #{status},
			typeid = #{typeid},
			memberid = #{memberid},
			orderid = #{orderid},
			name = #{name},
			type = #{type},
			admin_by = #{adminBy}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM order_date
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE order_date SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="OrderDate" statementType="STATEMENT">
		select * FROM order_date  where ${propertyName} = '${value}'
	</select>
	
</mapper>