<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.meiguotong.mapper.car.CarInfoMapper">
    
	<sql id="carColumns">
		a.id AS "id",
		a.language AS "language",
		a.car_no AS "carNo",
		a.agentid AS "agentid",
		a.status AS "status",
		a.city AS "city",
		a.car_img AS "carImg",
		a.car_video AS "carVideo",
		a.seat_num AS "seatNum",
		a.advise_num AS "adviseNum",
		a.bag_num AS "bagNum",
		a.comfort AS "comfort",
		a.use_year AS "useYear",
		a.car_name AS "carName",
		a.car_trait AS "carTrait",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.del_date AS "delDate",
		a.del_by AS "delBy",
		b.city_name AS "cityName",
		a.comment_num AS "commentNum",
		a.star AS "star",
		c.company_name AS "companyName",
		d.title AS "countryName",
		(SELECT MIN(c.price + c.start_price + c.head_price + c.food_price + IFNULL(c.empty_price,0)) 
		FROM car_business b
		LEFT JOIN car_time_price c ON b.id = c.businessid
		WHERE a.id = b.carid AND b.status = 1 AND type = 0 AND NOW() BETWEEN b.begin_date AND b.end_date
		) AS "price"
	</sql>
	
	<sql id="carJoins">
		LEFT JOIN com_city b  ON a.city = b.id
		LEFT JOIN sys_user c  ON c.fatherid = 0 AND a.agentid = c.agentid
		LEFT JOIN country d ON b.province_id = d.id
	</sql>
	
    
	<select id="get" resultType="CarInfo" >
		SELECT 
			<include refid="carColumns"/>
		FROM car a
		<include refid="carJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="CarInfo" >
		SELECT 
			<include refid="carColumns"/>
		FROM car a
		<include refid="carJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="language != null">
				AND a.language = #{language}
			</if>
			<if test="status != null">
				AND a.status = #{status}
			</if>
			<if test="searchContent != null and searchContent != ''">
				AND (a.car_no LIKE  concat('%',#{searchContent},'%') 
				OR a.car_name LIKE concat('%',#{searchContent},'%') )
			</if>
			<if test="agentid != null">
				AND a.agentid = #{agentid}
			</if>
			<if test="city != null">
				AND a.city = #{city}
			</if>
			<if test="ids != null and ids != '' ">
				AND FIND_IN_SET(a.car_no,#{ids}) > 0
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<!-- 根据城市及搜索条件获取定制汽车列表 -->
	<select id="getCarByCity" resultType="CarInfo" >
		SELECT 
			a.id as "id",
			a.car_name as "carName",
			a.car_video as "carVideo",
			a.car_img as "carImg",
			a.seat_num as "seatNum",
			a.bag_num as "bagNum",
			a.comfort as "comfort",
			a.car_trait as "carTrait",
			a.comment_num as "commentNum",
			a.star as "star",
			ctp.price as "price",
			ctp.start_price AS "startPrice",
			ctp.head_price AS "headPrice",
			ctp.food_price AS "foodPrice",
			ctp.empty_price AS "emptyPrice"
		FROM car a
		left join car_business cb on cb.carid=a.id
		left join car_time_price ctp on ctp.businessid=cb.id
		<where> 
			a.del_flag = 0 AND a.language = #{language} AND a.city = #{city}
			AND a.status = 3 AND ctp.busi_date=#{date} AND ctp.type=1
			AND cb.business_type=#{carType} AND cb.status=1
			${dataScope}
			<if test="agentid != null and agentid != ''">
				AND a.agentid = #{agentid}
			</if>
			<if test="comfort != null and comfort != ''">
				AND a.comfort = #{comfort}
			</if>
			<if test="seatNum != null and seatNum != ''">
				AND a.seat_num = #{seatNum}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	<!-- 根据城市及搜索条件获取短程接送汽车列表 -->
	<select id="getShortCarByCity" resultType="CarInfo" >
		SELECT 
			a.id as "id",
			a.car_name as "carName",
			a.car_video as "carVideo",
			a.car_img as "carImg",
			a.seat_num as "seatNum",
			a.bag_num as "bagNum",
			a.comfort as "comfort",
			a.car_trait as "carTrait",
			a.comment_num as "commentNum",
			a.star as "star",
			ctp.price as "price",
			ctp.start_price AS "startPrice",
			ctp.head_price AS "headPrice",
			ctp.food_price AS "foodPrice"
		FROM car a
		left join car_business cb on cb.carid=a.id
		left join car_time_price ctp on ctp.businessid=cb.id
		<where> 
			a.del_flag = 0 AND a.language = #{language} AND a.city = #{city}
			AND a.status = 3 AND cb.business_type=#{carType} AND cb.status=1 AND ctp.type=1
			AND DATE_FORMAT(ctp.busi_date, '%Y-%m-%d')=DATE_FORMAT(#{date}, '%Y-%m-%d')
			AND DATE_FORMAT(#{date}, '%h:%i:%s') BETWEEN ctp.begin_time AND ctp.end_time
			${dataScope}
			<if test="agentid != null and agentid != ''">
				AND a.agentid = #{agentid}
			</if>
			<if test="comfort != null and comfort != ''">
				AND a.comfort = #{comfort}
			</if>
			<if test="seatNum != null and seatNum != ''">
				AND a.seat_num = #{seatNum}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<!--包车租车查询车辆列表-->
	<select id="getCarByRent" resultType="com.jeeplus.modules.meiguotong.entity.car.CarInfo">
		SELECT
		a.id as "id",
		a.car_name as "carName",
		a.car_video as "carVideo",
		a.car_img as "carImg",
		a.seat_num as "seatNum",
		a.bag_num as "bagNum",
		a.comfort as "comfort",
		a.car_trait as "carTrait",
		a.comment_num as "commentNum",
		a.star as "star",
		ctp.price as "price",
		ctp.start_price AS "startPrice",
		ctp.head_price AS "headPrice",
		ctp.food_price AS "foodPrice"
		FROM car a
		left join car_business cb on cb.carid=a.id
		left join car_time_price ctp on ctp.businessid=cb.id
		<where>
			a.del_flag = 0 AND a.language = #{language} AND a.city = #{city}
			AND a.status = 3 AND cb.business_type=1 AND cb.status=1 AND ctp.type=1
		     AND find_in_set(ctp.serviceid, #{serviceids}) > 0
			${dataScope}
			<if test="agentid != null and agentid != ''">
				AND a.agentid = #{agentid}
			</if>
			<if test="comfort != null and comfort != ''">
				AND a.comfort = #{comfort}
			</if>
			<if test="seatNum != null and seatNum != ''">
				AND a.seat_num = #{seatNum}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<select id="findAllList" resultType="CarInfo" >
		SELECT 
			<include refid="carColumns"/>
		FROM car a
		<include refid="carJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO car(
			status,
			language,
			car_no,
			agentid,
			city,
			car_img,
			car_video,
			seat_num,
			advise_num,
			bag_num,
			comfort,
			use_year,
			car_name,
			car_trait,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			del_date,
			del_by,
			comment_num,
			star
		) VALUES (
			1,
			#{language},
			#{carNo},
			#{agentid},
			#{city},
			#{carImg},
			#{carVideo},
			#{seatNum},
			#{adviseNum},
			#{bagNum},
			#{comfort},
			#{useYear},
			#{carName},
			#{carTrait},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			0,
			#{delDate},
			#{delBy},
			0,
			5
		)
	</insert>
	
	<update id="update">
		UPDATE car SET 	
			status = #{status},
			language = #{language},
			car_no = #{carNo},
			agentid = #{agentid},
			city = #{city},
			car_img = #{carImg},
			car_video = #{carVideo},
			seat_num = #{seatNum},
			advise_num = #{adviseNum},
			bag_num = #{bagNum},
			comfort = #{comfort},
			use_year = #{useYear},
			car_name = #{carName},
			car_trait = #{carTrait},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			del_date = #{delDate},
			del_by = #{delBy}
		WHERE id = #{id}
	</update>
	<update id="updateNo">
		UPDATE car SET 	
			car_no = #{carNo}
		WHERE id = #{id}
	</update>
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM car
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE car SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="CarInfo" statementType="STATEMENT">
		select * FROM car  where ${propertyName} = '${value}'
	</select>
	
	<!--修改星级、评论数-->
	<update id="changeCommnetNum">
		UPDATE car SET 	
			star=(select truncate(sum(level)/count(id),1) from com_comment where find_in_set(type,"1,2,3,15") and type_id=#{id}),
			comment_num=comment_num+1
		WHERE id = #{id}
	</update>

</mapper>