<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.sys.mapper.score.ScoreMapper">
    
	<sql id="scoreColumns">
		a.id AS "id",
		a.get_way AS "getWay",
		a.cricle AS "cricle",
		a.num AS "num",
		a.sorce AS "sorce",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate"
	</sql>
	
	<sql id="scoreJoins">
		
	</sql>
	
    
	<select id="get" resultType="Score" >
		SELECT 
			<include refid="scoreColumns"/>
		FROM score a
		<include refid="scoreJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Score" >
		SELECT 
			<include refid="scoreColumns"/>
		FROM score a
		<include refid="scoreJoins"/>
		<where>
			
			${dataScope}
			<if test="getWay != null and getWay != ''">
				AND a.get_way = #{getWay}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Score" >
		SELECT 
			<include refid="scoreColumns"/>
		FROM score a
		<include refid="scoreJoins"/>
		<where>
			
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO score(
			get_way,
			cricle,
			num,
			sorce,
			update_by,
			update_date
		) VALUES (
			#{getWay},
			#{cricle},
			#{num},
			#{sorce},
			#{updateBy.id},
			#{updateDate}
		)
	</insert>
	
	<update id="update">
		UPDATE score SET 	
			get_way = #{getWay},
			cricle = #{cricle},
			num = #{num},
			sorce = #{sorce},
			update_by = #{updateBy.id},
			update_date = #{updateDate}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM score
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE score SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Score" statementType="STATEMENT">
		select * FROM score  where ${propertyName} = '${value}'
	</select>
	
</mapper>