<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.meiguotong.mapper.draft.ProductDraftDetailsMapper">
    
	<sql id="productDraftDetailsColumns">
		a.id AS "id",
		a.draftid AS "draftid",
		a.day AS "day",
		a.sort AS "sort",
		a.city AS "city",
		a.scenic AS "scenic"
	</sql>
	
	<sql id="productDraftDetailsJoins">
		
	</sql>
	
    
	<select id="get" resultType="ProductDraftDetails" >
		SELECT 
			<include refid="productDraftDetailsColumns"/>
		FROM product_draft_details a
		<include refid="productDraftDetailsJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="ProductDraftDetails" >
		SELECT 
			<include refid="productDraftDetailsColumns"/>
		FROM product_draft_details a
		<include refid="productDraftDetailsJoins"/>
		<where>
			
			${dataScope}
			<if test="day != null and day != ''">
				AND a.day = #{day}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="ProductDraftDetails" >
		SELECT 
			<include refid="productDraftDetailsColumns"/>
		FROM product_draft_details a
		<include refid="productDraftDetailsJoins"/>
		<where>
			
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO product_draft_details(
			draftid,
			day,
			sort,
			city,
			scenic
		) VALUES (
			#{draftid},
			#{day},
			#{sort},
			#{city},
			#{scenic}
		)
	</insert>
	
	<update id="update">
		UPDATE product_draft_details SET 	
			draftid = #{draftid},
			day = #{day},
			sort = #{sort},
			city = #{city},
			scenic = #{scenic}
		WHERE id = #{id}
	</update>
	<!--根据草稿id物理删除-->
	<update id="deleteByDraftId">
		DELETE FROM product_draft_details
		WHERE draftid = #{id}
	</update>
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM product_draft_details
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE product_draft_details SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="ProductDraftDetails" statementType="STATEMENT">
		select * FROM product_draft_details  where ${propertyName} = '${value}'
	</select>
	
</mapper>