<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.sys.mapper.MemberFansMapper">
    
	<sql id="memberFansColumns">
		a.id AS "id",
		a.fanid AS "fanId",
		a.memberid AS "memberId",
		a.create_date AS "createDate"
	</sql>
	
	<sql id="memberFansJoins">
		
	</sql>
	
	<select id="findIsFans" resultType="MemberFans" >
		SELECT 
			<include refid="memberFansColumns"/>
		FROM member_fans a
		<include refid="memberFansJoins"/>
		WHERE a.fanid = #{fanId} and a.memberid = #{memberId} limit 0,1
	</select>
    
	<select id="get" resultType="MemberFans" >
		SELECT 
			<include refid="memberFansColumns"/>
		FROM member_fans a
		<include refid="memberFansJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="MemberFans" >
		SELECT 
			<include refid="memberFansColumns"/>
		FROM member_fans a
		<include refid="memberFansJoins"/>
		<where>
			
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="MemberFans" >
		SELECT 
			<include refid="memberFansColumns"/>
		FROM member_fans a
		<include refid="memberFansJoins"/>
		<where>
			
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO member_fans(
			fanid,
			memberid,
			create_date
		) VALUES (
			#{fanId},
			#{memberId},
			now()
		)
	</insert>
	
	<update id="update">
		UPDATE member_fans SET 	
			fanid = #{fanId},
			memberid = #{memberId}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM member_fans
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE member_fans SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="MemberFans" statementType="STATEMENT">
		select * FROM member_fans  where ${propertyName} = '${value}'
	</select>
	
</mapper>